# MIMIC-III Data Preparation & Preparation

The MIMIC-III datasets presents us with a variety of data. In this notebook we are going to have a look at how to treat the data and correctly extract the wanted features to our final dataframe.

In [1]:
# Import necessary packages
import datetime
import dateutil
from importlib import reload
import multiprocessing
import numpy as np
import pandas as pd
import psutil
import pdb
import time
import os
import yaml
from pathlib import Path

# The docker environment manipulates the python path to include our source directory
# Execute this from within the docker environ to make these import work
import utils

dataset_folder = Path(os.getenv("DATA"), "mimic-iii-demo")
resource_folder = Path(dataset_folder, "resources")

2022-03-21 19:29:05.851638: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-03-21 19:29:05.851680: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

## I. By Item ID

For the phenotyping benchmark as described in 'Multitask learning and benchmarking with
clinical time series data
Hrayr Harutyunyan1, Hrant Khachatrian2,3, David C. Kale1, Greg Ver Steeg1, and Aram
Galstyan1' (make this link) we need to isolate chartevents and labevents which are part of the considered feature for phenotype classification.

![alt text >](./pics/phenotyping_features.png)

To handle these features acordingly, we will need to cast them into a list.

# I. Read Base Data

Code from extract_subject.py

## Read Patient CSV

In [2]:
patients_df = pd.read_csv(Path(dataset_folder, "PATIENTS.csv"))
patients_df = patients_df[['subject_id', 'gender', 'dob', 'dod']]

# Convert date of birth and date of death to datetime obj
patients_df['dod'] = pd.to_datetime(patients_df['dod'])
patients_df['dob'] = pd.to_datetime(patients_df['dob'])
patients_df.head()

   subject_id gender        dob        dod
0       10006      F 2094-03-05 2165-08-12
1       10011      F 2090-06-05 2126-08-28
2       10013      F 2038-09-03 2125-10-07
3       10017      F 2075-09-21 2152-09-12
4       10019      M 2114-06-20 2163-05-15

## Read Admission CSVs

In [3]:
admissions_df = pd.read_csv(Path(dataset_folder, "ADMISSIONS.csv"))
admissions_df = admissions_df[['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime', 'ethnicity', 'diagnosis']]

# Convert admission, discharge and death time
admissions_df['admittime'] = pd.to_datetime(admissions_df['admittime'])
admissions_df['dischtime'] = pd.to_datetime(admissions_df['dischtime'])
admissions_df['deathtime'] = pd.to_datetime(admissions_df['deathtime'])
admissions_df.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,ethnicity,diagnosis
0,10006,142345,2164-10-23 21:09:00,2164-11-01 17:15:00,NaT,BLACK/AFRICAN AMERICAN,SEPSIS
1,10011,105331,2126-08-14 22:32:00,2126-08-28 18:59:00,2126-08-28 18:59:00,UNKNOWN/NOT SPECIFIED,HEPATITIS B
2,10013,165520,2125-10-04 23:36:00,2125-10-07 15:13:00,2125-10-07 15:13:00,UNKNOWN/NOT SPECIFIED,SEPSIS
3,10017,199207,2149-05-26 17:19:00,2149-06-03 18:42:00,NaT,WHITE,HUMERAL FRACTURE
4,10019,177759,2163-05-14 20:43:00,2163-05-15 12:00:00,2163-05-15 12:00:00,WHITE,ALCOHOLIC HEPATITIS

## Read ICU stay CSV

In [4]:
icustays_df = pd.read_csv(Path(dataset_folder, "ICUSTAYS.csv"))

# convert in-time and out-time to date time obj
icustays_df['intime'] = pd.to_datetime(icustays_df['intime'])
icustays_df['outtime'] = pd.to_datetime(icustays_df['outtime'])
icustays_df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,2125-10-07 15:13:52,2.6499
3,12754,10017,199207,204881,carevue,CCU,CCU,7,7,2149-05-29 18:52:29,2149-05-31 22:19:17,2.1436
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,2163-05-16 03:47:04,1.2938

# II. Create the ICU history
## Merge in DataFrames

In [5]:
# expand the ICU stay df by addmission times
icu_history_df = icustays_df.merge(admissions_df, how='inner', left_on=['subject_id', 'hadm_id'], right_on=['subject_id', 'hadm_id'])
# further expand with patient data
icu_history_df = icu_history_df.merge(patients_df, how='inner', left_on=['subject_id'], right_on=['subject_id'])
icu_history_df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los,admittime,dischtime,deathtime,ethnicity,diagnosis,gender,dob,dod
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325,2164-10-23 21:09:00,2164-11-01 17:15:00,NaT,BLACK/AFRICAN AMERICAN,SEPSIS,F,2094-03-05,2165-08-12
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507,2126-08-14 22:32:00,2126-08-28 18:59:00,2126-08-28 18:59:00,UNKNOWN/NOT SPECIFIED,HEPATITIS B,F,2090-06-05,2126-08-28
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,2125-10-07 15:13:52,2.6499,2125-10-04 23:36:00,2125-10-07 15:13:00,2125-10-07 15:13:00,UNKNOWN/NOT SPECIFIED,SEPSIS,F,2038-09-03,2125-10-07
3,12754,10017,199207,204881,carevue,CCU,CCU,7,7,2149-05-29 18:52:29,2149-05-31 22:19:17,2.1436,2149-05-26 17:19:00,2149-06-03 18:42:00,NaT,WHITE,HUMERAL FRACTURE,F,2075-09-21,2152-09-12
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,2163-05-16 03:47:04,1.2938,2163-05-14 20:43:00,2163-05-15 12:00:00,2163-05-15 12:00:00,WHITE,ALCOHOLIC HEPATITIS,M,2114-06-20,2163-05-15

## Filter by Number of ICU Stays per HA

In [6]:
# Parameters
min_nb_stays = 0
max_nb_stays = 50

In [7]:
# Group by hospital addmission ID then drop ids with too much or not enough stays
icu_history_df.groupby('hadm_id').count()[['icustay_id']].reset_index()
# ICU stays counts
filter = icu_history_df.groupby('hadm_id').count()[['icustay_id']].reset_index()
# Filter on stay number
filter = filter.loc[(filter.icustay_id >= min_nb_stays) & (filter.icustay_id <= max_nb_stays)][['hadm_id']]
# apply the filter
icu_history_df = icu_history_df.merge(filter, how='inner', left_on='hadm_id', right_on='hadm_id')
icu_history_df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los,admittime,dischtime,deathtime,ethnicity,diagnosis,gender,dob,dod
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325,2164-10-23 21:09:00,2164-11-01 17:15:00,NaT,BLACK/AFRICAN AMERICAN,SEPSIS,F,2094-03-05,2165-08-12
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507,2126-08-14 22:32:00,2126-08-28 18:59:00,2126-08-28 18:59:00,UNKNOWN/NOT SPECIFIED,HEPATITIS B,F,2090-06-05,2126-08-28
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,2125-10-07 15:13:52,2.6499,2125-10-04 23:36:00,2125-10-07 15:13:00,2125-10-07 15:13:00,UNKNOWN/NOT SPECIFIED,SEPSIS,F,2038-09-03,2125-10-07
3,12754,10017,199207,204881,carevue,CCU,CCU,7,7,2149-05-29 18:52:29,2149-05-31 22:19:17,2.1436,2149-05-26 17:19:00,2149-06-03 18:42:00,NaT,WHITE,HUMERAL FRACTURE,F,2075-09-21,2152-09-12
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,2163-05-16 03:47:04,1.2938,2163-05-14 20:43:00,2163-05-15 12:00:00,2163-05-15 12:00:00,WHITE,ALCOHOLIC HEPATITIS,M,2114-06-20,2163-05-15

## Feature Engineer Mortality

In [8]:
# Compute age
icu_history_df['age'] = (icu_history_df.intime.dt.year - icu_history_df.dob.dt.year)

In [9]:
# Compute inunit mortality
mortality = icu_history_df.dod.notnull() & ((icu_history_df.intime <= icu_history_df.dod) & (icu_history_df.outtime >= icu_history_df.dod))
mortality = mortality | (icu_history_df.deathtime.notnull() & ((icu_history_df.intime <= icu_history_df.deathtime) & (icu_history_df.outtime >= icu_history_df.deathtime)))
icu_history_df['MORTALITY_INUNIT'] = mortality.astype(int)

In [10]:
# Compute inhospital mortality
mortality = icu_history_df.dod.notnull() & ((icu_history_df.admittime <= icu_history_df.dod) & (icu_history_df.dischtime >= icu_history_df.dod))
mortality = mortality | (icu_history_df.deathtime.notnull() & ((icu_history_df.admittime <= icu_history_df.deathtime) & (icu_history_df.dischtime >= icu_history_df.deathtime)))
icu_history_df['MORTALITY'] = mortality.astype(int)
icu_history_df['MORTALITY_INHOSPITAL'] = icu_history_df['MORTALITY']

In [11]:
icu_history_df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,...,deathtime,ethnicity,diagnosis,gender,dob,dod,age,MORTALITY_INUNIT,MORTALITY,MORTALITY_INHOSPITAL
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,...,NaT,BLACK/AFRICAN AMERICAN,SEPSIS,F,2094-03-05,2165-08-12,70,0,0,0
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,...,2126-08-28 18:59:00,UNKNOWN/NOT SPECIFIED,HEPATITIS B,F,2090-06-05,2126-08-28,36,1,1,1
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,...,2125-10-07 15:13:00,UNKNOWN/NOT SPECIFIED,SEPSIS,F,2038-09-03,2125-10-07,87,1,1,1
3,12754,10017,199207,204881,carevue,CCU,CCU,7,7,2149-05-29 18:52:29,...,NaT,WHITE,HUMERAL FRACTURE,F,2075-09-21,2152-09-12,74,0,0,0
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,...,2163-05-15 12:00:00,WHITE,ALCOHOLIC HEPATITIS,M,2114-06-20,2163-05-15,49,1,1,1

# III. Diagnosis

## Read Diagnoses CSV

In [12]:
# Read diagnoses
diagnoses_df = pd.read_csv(Path(dataset_folder, 'DIAGNOSES_ICD.csv'))

## Read ICD9 Codes

In [13]:
# Read icd dictionary file
icd_codes_df = pd.read_csv(Path(dataset_folder, 'D_ICD_DIAGNOSES.csv'))
icd_codes_df = icd_codes_df[['icd9_code', 'short_title', 'long_title']]
icd_codes_df.head()

,icd9_code,short_title,long_title
0,01716,Erythem nod tb-oth test,Erythema nodosum with hypersensitivity reactio...
1,01720,TB periph lymph-unspec,"Tuberculosis of peripheral lymph nodes, unspec..."
2,01721,TB periph lymph-no exam,"Tuberculosis of peripheral lymph nodes, bacter..."
3,01722,TB periph lymph-exam unk,"Tuberculosis of peripheral lymph nodes, bacter..."
4,01723,TB periph lymph-micro dx,"Tuberculosis of peripheral lymph nodes, tuberc..."

## Merge DataFrames

In [14]:
# Merge dictionary definition with hospital diagnoses
diagnoses_df = diagnoses_df.merge(icd_codes_df, how='inner', left_on='icd9_code', right_on='icd9_code')
# Get ICU stay ID
diagnoses_df = diagnoses_df.merge(icu_history_df[['subject_id', 'hadm_id', 'icustay_id']].drop_duplicates(), how='inner',
                                  left_on=['subject_id', 'hadm_id'], right_on=['subject_id', 'hadm_id'])
# Cast IDs to int
diagnoses_df[['subject_id', 'hadm_id', 'seq_num']] = diagnoses_df[['subject_id', 'hadm_id', 'seq_num']].astype(int)
diagnoses_df.head()

,row_id,subject_id,hadm_id,seq_num,icd9_code,short_title,long_title,icustay_id
0,112344,10006,142345,1,99591,Sepsis,Sepsis,206504
1,112345,10006,142345,2,99662,React-oth vasc dev/graft,Infection and inflammatory reaction due to oth...,206504
2,112347,10006,142345,4,40391,Hyp kid NOS w cr kid V,"Hypertensive chronic kidney disease, unspecifi...",206504
3,112348,10006,142345,5,42731,Atrial fibrillation,Atrial fibrillation,206504
4,112349,10006,142345,6,4280,CHF NOS,"Congestive heart failure, unspecified",206504

In [47]:
 def_map = {}
    for dx in definitions:
        for code in definitions[dx]['codes']:
            def_map[code] = (dx, definitions[dx]['use_in_benchmark'])
    diagnoses['HCUP_CCS_2015'] = diagnoses.ICD9_CODE.apply(lambda c: def_map[c][0] if c in def_map else None)
    diagnoses['USE_IN_BENCHMARK'] = diagnoses.ICD9_CODE.apply(lambda c: int(def_map[c][1]) if c in def_map else None)

IndentationError: unexpected indent (1717618783.py, line 2)

# IV. Phenotype

## Loading Phenotype Benchmark File
Contains for each phenotype the description, the newly assigned ID and the ICD9 codes describing the umbrella phenotype.

In [15]:
phenotypes_yaml = yaml.full_load(open(Path(resource_folder, "hcup_ccs_2015_definitions.yaml"), "r"))
list(phenotypes_yaml.keys())[:20]

['Tuberculosis',
 'Septicemia (except in labor)',
 'Bacterial infection; unspecified site',
 'Mycoses',
 'HIV infection',
 'Hepatitis',
 'Viral infection',
 'Other infections; including parasitic',
 'Sexually transmitted infections (not HIV or hepatitis)',
 'Immunizations and screening for infectious disease',
 'Cancer of head and neck',
 'Cancer of esophagus',
 'Cancer of stomach',
 'Cancer of colon',
 'Cancer of rectum and anus',
 'Cancer of liver and intrahepatic bile duct',
 'Cancer of pancreas',
 'Cancer of other GI organs; peritoneum',
 'Cancer of bronchus; lung',
 'Cancer; other respiratory and intrathoracic']

In [16]:
phenotypes_yaml['Septicemia (except in labor)']

{'use_in_benchmark': True,
 'type': 'acute',
 'id': 2,
 'codes': ['0031',
  '0202',
  '0223',
  '0362',
  '0380',
  '0381',
  '03810',
  '03811',
  '03812',
  '03819',
  '0382',
  '0383',
  '03840',
  '03841',
  '03842',
  '03843',
  '03844',
  '03849',
  '0388',
  '0389',
  '0545',
  '449',
  '77181',
  '7907',
  '99591',
  '99592']}

## Merge DataFrames

In [17]:
definition_map = dict()
for phenotype in phenotypes_yaml:
    for code in phenotypes_yaml[phenotype]['codes']:
        definition_map[code] = (phenotype, phenotypes_yaml[phenotype]['use_in_benchmark'])

In [18]:
definition_map

{'01000': ('Tuberculosis', False),
 '01001': ('Tuberculosis', False),
 '01002': ('Tuberculosis', False),
 '01003': ('Tuberculosis', False),
 '01004': ('Tuberculosis', False),
 '01005': ('Tuberculosis', False),
 '01006': ('Tuberculosis', False),
 '01010': ('Tuberculosis', False),
 '01011': ('Tuberculosis', False),
 '01012': ('Tuberculosis', False),
 '01013': ('Tuberculosis', False),
 '01014': ('Tuberculosis', False),
 '01015': ('Tuberculosis', False),
 '01016': ('Tuberculosis', False),
 '01080': ('Tuberculosis', False),
 '01081': ('Tuberculosis', False),
 '01082': ('Tuberculosis', False),
 '01083': ('Tuberculosis', False),
 '01084': ('Tuberculosis', False),
 '01085': ('Tuberculosis', False),
 '01086': ('Tuberculosis', False),
 '01090': ('Tuberculosis', False),
 '01091': ('Tuberculosis', False),
 '01092': ('Tuberculosis', False),
 '01093': ('Tuberculosis', False),
 '01094': ('Tuberculosis', False),
 '01095': ('Tuberculosis', False),
 '01096': ('Tuberculosis', False),
 '01100': ('Tuberculosis', False),
 '01101': ('Tuberculosis', False),
 '01102': ('Tuberculosis', False),
 '01103': ('Tuberculosis', False),
 '01104': ('Tuberculosis', False),
 '01105': ('Tuberculosis', False),
 '01106': ('Tuberculosis', False),
 '01110': ('Tuberculosis', False),
 '01111': ('Tuberculosis', False),
 '01112': ('Tuberculosis', False),
 '01113': ('Tuberculosis', False),
 '01114': ('Tuberculosis', False),
 '01115': ('Tuberculosis', False),
 '01116': ('Tuberculosis', False),
 '01120': ('Tuberculosis', False),
 '01121': ('Tuberculosis', False),
 '01122': ('Tuberculosis', False),
 '01123': ('Tuberculosis', False),
 '01124': ('Tuberculosis', False),
 '01125': ('Tuberculosis', False),
 '01126': ('Tuberculosis', False),
 '01130': ('Tuberculosis', False),
 '01131': ('Tuberculosis', False),
 '01132': ('Tuberculosis', False),
 '01133': ('Tuberculosis', False),
 '01134': ('Tuberculosis', False),
 '01135': ('Tuberculosis', False),
 '01136': ('Tuberculosis', False),
 '01140': ('Tuberculosis', False),
 '01141': ('Tuberculosis', False),
 '01142': ('Tuberculosis', False),
 '01143': ('Tuberculosis', False),
 '01144': ('Tuberculosis', False),
 '01145': ('Tuberculosis', False),
 '01146': ('Tuberculosis', False),
 '01150': ('Tuberculosis', False),
 '01151': ('Tuberculosis', False),
 '01152': ('Tuberculosis', False),
 '01153': ('Tuberculosis', False),
 '01154': ('Tuberculosis', False),
 '01155': ('Tuberculosis', False),
 '01156': ('Tuberculosis', False),
 '01160': ('Tuberculosis', False),
 '01161': ('Tuberculosis', False),
 '01162': ('Tuberculosis', False),
 '01163': ('Tuberculosis', False),
 '01164': ('Tuberculosis', False),
 '01165': ('Tuberculosis', False),
 '01166': ('Tuberculosis', False),
 '01170': ('Tuberculosis', False),
 '01171': ('Tuberculosis', False),
 '01172': ('Tuberculosis', False),
 '01173': ('Tuberculosis', False),
 '01174': ('Tuberculosis', False),
 '01175': ('Tuberculosis', False),
 '01176': ('Tuberculosis', False),
 '01180': ('Tuberculosis', False),
 '01181': ('Tuberculosis', False),
 '01182': ('Tuberculosis', False),
 '01183': ('Tuberculosis', False),
 '01184': ('Tuberculosis', False),
 '01185': ('Tuberculosis', False),
 '01186': ('Tuberculosis', False),
 '01190': ('Tuberculosis', False),
 '01191': ('Tuberculosis', False),
 '01192': ('Tuberculosis', False),
 '01193': ('Tuberculosis', False),
 '01194': ('Tuberculosis', False),
 '01195': ('Tuberculosis', False),
 '01196': ('Tuberculosis', False),
 '01200': ('Tuberculosis', False),
 '01201': ('Tuberculosis', False),
 '01202': ('Tuberculosis', False),
 '01203': ('Tuberculosis', False),
 '01204': ('Tuberculosis', False),
 '01205': ('Tuberculosis', False),
 '01206': ('Tuberculosis', False),
 '01210': ('Tuberculosis', False),
 '01211': ('Tuberculosis', False),
 '01212': ('Tuberculosis', False),
 '01213': ('Tuberculosis', False),
 '01214': ('Tuberculosis', False),
 '01215': ('Tuberculosis', False),
 '01216': ('Tuberculosis', False),
 '01220': ('Tuberculosis', False),
 '01221': ('Tuberculosis', False),
 '01222': ('Tuberculosis', False),
 '01223': ('Tuberculosis', False),
 '01224': ('Tuberculosis', False),
 '01225': ('Tuberculosis', False),
 '01226': ('Tuberculosis', False),
 '01230': ('Tuberculosis', False),
 '01231': ('Tuberculosis', False),
 '01232': ('Tuberculosis', False),
 '01233': ('Tuberculosis', False),
 '01234': ('Tuberculosis', False),
 '01235': ('Tuberculosis', False),
 '01236': ('Tuberculosis', False),
 '01280': ('Tuberculosis', False),
 '01281': ('Tuberculosis', False),
 '01282': ('Tuberculosis', False),
 '01283': ('Tuberculosis', False),
 '01284': ('Tuberculosis', False),
 '01285': ('Tuberculosis', False),
 '01286': ('Tuberculosis', False),
 '01300': ('Tuberculosis', False),
 '01301': ('Tuberculosis', False),
 '01302': ('Tuberculosis', False),
 '01303': ('Tuberculosis', False),
 '01304': ('Tuberculosis', False),
 '01305': ('Tuberculosis', False),
 '01306': ('Tuberculosis', False),
 '01310': ('Tuberculosis', False),
 '01311': ('Tuberculosis', False),
 '01312': ('Tuberculosis', False),
 '01313': ('Tuberculosis', False),
 '01314': ('Tuberculosis', False),
 '01315': ('Tuberculosis', False),
 '01316': ('Tuberculosis', False),
 '01320': ('Tuberculosis', False),
 '01321': ('Tuberculosis', False),
 '01322': ('Tuberculosis', False),
 '01323': ('Tuberculosis', False),
 '01324': ('Tuberculosis', False),
 '01325': ('Tuberculosis', False),
 '01326': ('Tuberculosis', False),
 '01330': ('Tuberculosis', False),
 '01331': ('Tuberculosis', False),
 '01332': ('Tuberculosis', False),
 '01333': ('Tuberculosis', False),
 '01334': ('Tuberculosis', False),
 '01335': ('Tuberculosis', False),
 '01336': ('Tuberculosis', False),
 '01340': ('Tuberculosis', False),
 '01341': ('Tuberculosis', False),
 '01342': ('Tuberculosis', False),
 '01343': ('Tuberculosis', False),
 '01344': ('Tuberculosis', False),
 '01345': ('Tuberculosis', False),
 '01346': ('Tuberculosis', False),
 '01350': ('Tuberculosis', False),
 '01351': ('Tuberculosis', False),
 '01352': ('Tuberculosis', False),
 '01353': ('Tuberculosis', False),
 '01354': ('Tuberculosis', False),
 '01355': ('Tuberculosis', False),
 '01356': ('Tuberculosis', False),
 '01360': ('Tuberculosis', False),
 '01361': ('Tuberculosis', False),
 '01362': ('Tuberculosis', False),
 '01363': ('Tuberculosis', False),
 '01364': ('Tuberculosis', False),
 '01365': ('Tuberculosis', False),
 '01366': ('Tuberculosis', False),
 '01380': ('Tuberculosis', False),
 '01381': ('Tuberculosis', False),
 '01382': ('Tuberculosis', False),
 '01383': ('Tuberculosis', False),
 '01384': ('Tuberculosis', False),
 '01385': ('Tuberculosis', False),
 '01386': ('Tuberculosis', False),
 '01390': ('Tuberculosis', False),
 '01391': ('Tuberculosis', False),
 '01392': ('Tuberculosis', False),
 '01393': ('Tuberculosis', False),
 '01394': ('Tuberculosis', False),
 '01395': ('Tuberculosis', False),
 '01396': ('Tuberculosis', False),
 '01400': ('Tuberculosis', False),
 '01401': ('Tuberculosis', False),
 '01402': ('Tuberculosis', False),
 '01403': ('Tuberculosis', False),
 '01404': ('Tuberculosis', False),
 '01405': ('Tuberculosis', False),
 '01406': ('Tuberculosis', False),
 '01480': ('Tuberculosis', False),
 '01481': ('Tuberculosis', False),
 '01482': ('Tuberculosis', False),
 '01483': ('Tuberculosis', False),
 '01484': ('Tuberculosis', False),
 '01485': ('Tuberculosis', False),
 '01486': ('Tuberculosis', False),
 '01500': ('Tuberculosis', False),
 '01501': ('Tuberculosis', False),
 '01502': ('Tuberculosis', False),
 '01503': ('Tuberculosis', False),
 '01504': ('Tuberculosis', False),
 '01505': ('Tuberculosis', False),
 '01506': ('Tuberculosis', False),
 '01510': ('Tuberculosis', False),
 '01511': ('Tuberculosis', False),
 '01512': ('Tuberculosis', False),
 '01513': ('Tuberculosis', False),
 '01514': ('Tuberculosis', False),
 '01515': ('Tuberculosis', False),
 '01516': ('Tuberculosis', False),
 '01520': ('Tuberculosis', False),
 '01521': ('Tuberculosis', False),
 '01522': ('Tuberculosis', False),
 '01523': ('Tuberculosis', False),
 '01524': ('Tuberculosis', False),
 '01525': ('Tuberculosis', False),
 '01526': ('Tuberculosis', False),
 '01550': ('Tuberculosis', False),
 '01551': ('Tuberculosis', False),
 '01552': ('Tuberculosis', False),
 '01553': ('Tuberculosis', False),
 '01554': ('Tuberculosis', False),
 '01555': ('Tuberculosis', False),
 '01556': ('Tuberculosis', False),
 '01560': ('Tuberculosis', False),
 '01561': ('Tuberculosis', False),
 '01562': ('Tuberculosis', False),
 '01563': ('Tuberculosis', False),
 '01564': ('Tuberculosis', False),
 '01565': ('Tuberculosis', False),
 '01566': ('Tuberculosis', False),
 '01570': ('Tuberculosis', False),
 '01571': ('Tuberculosis', False),
 '01572': ('Tuberculosis', False),
 '01573': ('Tuberculosis', False),
 '01574': ('Tuberculosis', False),
 '01575': ('Tuberculosis', False),
 '01576': ('Tuberculosis', False),
 '01580': ('Tuberculosis', False),
 '01581': ('Tuberculosis', False),
 '01582': ('Tuberculosis', False),
 '01583': ('Tuberculosis', False),
 '01584': ('Tuberculosis', False),
 '01585': ('Tuberculosis', False),
 '01586': ('Tuberculosis', False),
 '01590': ('Tuberculosis', False),
 '01591': ('Tuberculosis', False),
 '01592': ('Tuberculosis', False),
 '01593': ('Tuberculosis', False),
 '01594': ('Tuberculosis', False),
 '01595': ('Tuberculosis', False),
 '01596': ('Tuberculosis', False),
 '01600': ('Tuberculosis', False),
 '01601': ('Tuberculosis', False),
 '01602': ('Tuberculosis', False),
 '01603': ('Tuberculosis', False),
 '01604': ('Tuberculosis', False),
 '01605': ('Tuberculosis', False),
 '01606': ('Tuberculosis', False),
 '01610': ('Tuberculosis', False),
 '01611': ('Tuberculosis', False),
 '01612': ('Tuberculosis', False),
 '01613': ('Tuberculosis', False),
 '01614': ('Tuberculosis', False),
 '01615': ('Tuberculosis', False),
 '01616': ('Tuberculosis', False),
 '01620': ('Tuberculosis', False),
 '01621': ('Tuberculosis', False),
 '01622': ('Tuberculosis', False),
 '01623': ('Tuberculosis', False),
 '01624': ('Tuberculosis', False),
 '01625': ('Tuberculosis', False),
 '01626': ('Tuberculosis', False),
 '01630': ('Tuberculosis', False),
 '01631': ('Tuberculosis', False),
 '01632': ('Tuberculosis', False),
 '01633': ('Tuberculosis', False),
 '01634': ('Tuberculosis', False),
 '01635': ('Tuberculosis', False),
 '01636': ('Tuberculosis', False),
 '01640': ('Tuberculosis', False),
 '01641': ('Tuberculosis', False),
 '01642': ('Tuberculosis', False),
 '01643': ('Tuberculosis', False),
 '01644': ('Tuberculosis', False),
 '01645': ('Tuberculosis', False),
 '01646': ('Tuberculosis', False),
 '01650': ('Tuberculosis', False),
 '01651': ('Tuberculosis', False),
 '01652': ('Tuberculosis', False),
 '01653': ('Tuberculosis', False),
 '01654': ('Tuberculosis', False),
 '01655': ('Tuberculosis', False),
 '01656': ('Tuberculosis', False),
 '01660': ('Tuberculosis', False),
 '01661': ('Tuberculosis', False),
 '01662': ('Tuberculosis', False),
 '01663': ('Tuberculosis', False),
 '01664': ('Tuberculosis', False),
 '01665': ('Tuberculosis', False),
 '01666': ('Tuberculosis', False),
 '01670': ('Tuberculosis', False),
 '01671': ('Tuberculosis', False),
 '01672': ('Tuberculosis', False),
 '01673': ('Tuberculosis', False),
 '01674': ('Tuberculosis', False),
 '01675': ('Tuberculosis', False),
 '01676': ('Tuberculosis', False),
 '01690': ('Tuberculosis', False),
 '01691': ('Tuberculosis', False),
 '01692': ('Tuberculosis', False),
 '01693': ('Tuberculosis', False),
 '01694': ('Tuberculosis', False),
 '01695': ('Tuberculosis', False),
 '01696': ('Tuberculosis', False),
 '01700': ('Tuberculosis', False),
 '01701': ('Tuberculosis', False),
 '01702': ('Tuberculosis', False),
 '01703': ('Tuberculosis', False),
 '01704': ('Tuberculosis', False),
 '01705': ('Tuberculosis', False),
 '01706': ('Tuberculosis', False),
 '01710': ('Tuberculosis', False),
 '01711': ('Tuberculosis', False),
 '01712': ('Tuberculosis', False),
 '01713': ('Tuberculosis', False),
 '01714': ('Tuberculosis', False),
 '01715': ('Tuberculosis', False),
 '01716': ('Tuberculosis', False),
 '01720': ('Tuberculosis', False),
 '01721': ('Tuberculosis', False),
 '01722': ('Tuberculosis', False),
 '01723': ('Tuberculosis', False),
 '01724': ('Tuberculosis', False),
 '01725': ('Tuberculosis', False),
 '01726': ('Tuberculosis', False),
 '01730': ('Tuberculosis', False),
 '01731': ('Tuberculosis', False),
 '01732': ('Tuberculosis', False),
 '01733': ('Tuberculosis', False),
 '01734': ('Tuberculosis', False),
 '01735': ('Tuberculosis', False),
 '01736': ('Tuberculosis', False),
 '01740': ('Tuberculosis', False),
 '01741': ('Tuberculosis', False),
 '01742': ('Tuberculosis', False),
 '01743': ('Tuberculosis', False),
 '01744': ('Tuberculosis', False),
 '01745': ('Tuberculosis', False),
 '01746': ('Tuberculosis', False),
 '01750': ('Tuberculosis', False),
 '01751': ('Tuberculosis', False),
 '01752': ('Tuberculosis', False),
 '01753': ('Tuberculosis', False),
 '01754': ('Tuberculosis', False),
 '01755': ('Tuberculosis', False),
 '01756': ('Tuberculosis', False),
 '01760': ('Tuberculosis', False),
 '01761': ('Tuberculosis', False),
 '01762': ('Tuberculosis', False),
 '01763': ('Tuberculosis', False),
 '01764': ('Tuberculosis', False),
 '01765': ('Tuberculosis', False),
 '01766': ('Tuberculosis', False),
 '01770': ('Tuberculosis', False),
 '01771': ('Tuberculosis', False),
 '01772': ('Tuberculosis', False),
 '01773': ('Tuberculosis', False),
 '01774': ('Tuberculosis', False),
 '01775': ('Tuberculosis', False),
 '01776': ('Tuberculosis', False),
 '01780': ('Tuberculosis', False),
 '01781': ('Tuberculosis', False),
 '01782': ('Tuberculosis', False),
 '01783': ('Tuberculosis', False),
 '01784': ('Tuberculosis', False),
 '01785': ('Tuberculosis', False),
 '01786': ('Tuberculosis', False),
 '01790': ('Tuberculosis', False),
 '01791': ('Tuberculosis', False),
 '01792': ('Tuberculosis', False),
 '01793': ('Tuberculosis', False),
 '01794': ('Tuberculosis', False),
 '01795': ('Tuberculosis', False),
 '01796': ('Tuberculosis', False),
 '01800': ('Tuberculosis', False),
 '01801': ('Tuberculosis', False),
 '01802': ('Tuberculosis', False),
 '01803': ('Tuberculosis', False),
 '01804': ('Tuberculosis', False),
 '01805': ('Tuberculosis', False),
 '01806': ('Tuberculosis', False),
 '01880': ('Tuberculosis', False),
 '01881': ('Tuberculosis', False),
 '01882': ('Tuberculosis', False),
 '01883': ('Tuberculosis', False),
 '01884': ('Tuberculosis', False),
 '01885': ('Tuberculosis', False),
 '01886': ('Tuberculosis', False),
 '01890': ('Tuberculosis', False),
 '01891': ('Tuberculosis', False),
 '01892': ('Tuberculosis', False),
 '01893': ('Tuberculosis', False),
 '01894': ('Tuberculosis', False),
 '01895': ('Tuberculosis', False),
 '01896': ('Tuberculosis', False),
 '1370': ('Tuberculosis', False),
 '1371': ('Tuberculosis', False),
 '1372': ('Tuberculosis', False),
 '1373': ('Tuberculosis', False),
 '1374': ('Tuberculosis', False),
 'V1201': ('Tuberculosis', False),
 '0031': ('Septicemia (except in labor)', True),
 '0202': ('Septicemia (except in labor)', True),
 '0223': ('Septicemia (except in labor)', True),
 '0362': ('Septicemia (except in labor)', True),
 '0380': ('Septicemia (except in labor)', True),
 '0381': ('Septicemia (except in labor)', True),
 '03810': ('Septicemia (except in labor)', True),
 '03811': ('Septicemia (except in labor)', True),
 '03812': ('Septicemia (except in labor)', True),
 '03819': ('Septicemia (except in labor)', True),
 '0382': ('Septicemia (except in labor)', True),
 '0383': ('Septicemia (except in labor)', True),
 '03840': ('Septicemia (except in labor)', True),
 '03841': ('Septicemia (except in labor)', True),
 '03842': ('Septicemia (except in labor)', True),
 '03843': ('Septicemia (except in labor)', True),
 '03844': ('Septicemia (except in labor)', True),
 '03849': ('Septicemia (except in labor)', True),
 '0388': ('Septicemia (except in labor)', True),
 '0389': ('Septicemia (except in labor)', True),
 '0545': ('Septicemia (except in labor)', True),
 '449': ('Septicemia (except in labor)', True),
 '77181': ('Septicemia (except in labor)', True),
 '7907': ('Septicemia (except in labor)', True),
 '99591': ('Septicemia (except in labor)', True),
 '99592': ('Septicemia (except in labor)', True),
 '0200': ('Bacterial infection; unspecified site', False),
 '0208': ('Bacterial infection; unspecified site', False),
 '0209': ('Bacterial infection; unspecified site', False),
 '0218': ('Bacterial infection; unspecified site', False),
 '0219': ('Bacterial infection; unspecified site', False),
 '0228': ('Bacterial infection; unspecified site', False),
 '0229': ('Bacterial infection; unspecified site', False),
 '0230': ('Bacterial infection; unspecified site', False),
 '0231': ('Bacterial infection; unspecified site', False),
 '0232': ('Bacterial infection; unspecified site', False),
 '0233': ('Bacterial infection; unspecified site', False),
 '0238': ('Bacterial infection; unspecified site', False),
 '0239': ('Bacterial infection; unspecified site', False),
 '024': ('Bacterial infection; unspecified site', False),
 '025': ('Bacterial infection; unspecified site', False),
 '0260': ('Bacterial infection; unspecified site', False),
 '0269': ('Bacterial infection; unspecified site', False),
 '0270': ('Bacterial infection; unspecified site', False),
 '0271': ('Bacterial infection; unspecified site', False),
 '0272': ('Bacterial infection; unspecified site', False),
 '0278': ('Bacterial infection; unspecified site', False),
 '0279': ('Bacterial infection; unspecified site', False),
 '0300': ('Bacterial infection; unspecified site', False),
 '0301': ('Bacterial infection; unspecified site', False),
 '0302': ('Bacterial infection; unspecified site', False),
 '0303': ('Bacterial infection; unspecified site', False),
 '0308': ('Bacterial infection; unspecified site', False),
 '0309': ('Bacterial infection; unspecified site', False),
 '0312': ('Bacterial infection; unspecified site', False),
 '0318': ('Bacterial infection; unspecified site', False),
 '0319': ('Bacterial infection; unspecified site', False),
 '03289': ('Bacterial infection; unspecified site', False),
 '0329': ('Bacterial infection; unspecified site', False),
 '0330': ('Bacterial infection; unspecified site', False),
 '0331': ('Bacterial infection; unspecified site', False),
 '0338': ('Bacterial infection; unspecified site', False),
 '0339': ('Bacterial infection; unspecified site', False),
 '0341': ('Bacterial infection; unspecified site', False),
 '0363': ('Bacterial infection; unspecified site', False),
 '03681': ('Bacterial infection; unspecified site', False),
 '03689': ('Bacterial infection; unspecified site', False),
 '0369': ('Bacterial infection; unspecified site', False),
 '037': ('Bacterial infection; unspecified site', False),
 '0392': ('Bacterial infection; unspecified site', False),
 '0393': ('Bacterial infection; unspecified site', False),
 '0394': ('Bacterial infection; unspecified site', False),
 '0398': ('Bacterial infection; unspecified site', False),
 '0399': ('Bacterial infection; unspecified site', False),
 '0400': ('Bacterial infection; unspecified site', False),
 '0401': ('Bacterial infection; unspecified site', False),
 '0402': ('Bacterial infection; unspecified site', False),
 '0403': ('Bacterial infection; unspecified site', False),
 '04042': ('Bacterial infection; unspecified site', False),
 '04081': ('Bacterial infection; unspecified site', False),
 '04082': ('Bacterial infection; unspecified site', False),
 '04089': ('Bacterial infection; unspecified site', False),
 '0410': ('Bacterial infection; unspecified site', False),
 '04100': ('Bacterial infection; unspecified site', False),
 '04101': ('Bacterial infection; unspecified site', False),
 '04102': ('Bacterial infection; unspecified site', False),
 '04103': ('Bacterial infection; unspecified site', False),
 '04104': ('Bacterial infection; unspecified site', False),
 '04105': ('Bacterial infection; unspecified site', False),
 '04109': ('Bacterial infection; unspecified site', False),

In [19]:
#TODO this is not in the module code
diagnoses_df['HCUP_CCS_2015'] = diagnoses_df.icd9_code.apply(lambda c: definition_map[c][0] if c in definition_map else None)
diagnoses_df['USE_IN_BENCHMARK'] = diagnoses_df.icd9_code.apply(lambda c: int(definition_map[c][1]) if c in definition_map else None)
diagnoses_df.head()

,row_id,subject_id,hadm_id,seq_num,icd9_code,short_title,long_title,icustay_id,HCUP_CCS_2015,USE_IN_BENCHMARK
0,112344,10006,142345,1,99591,Sepsis,Sepsis,206504,Septicemia (except in labor),1
1,112345,10006,142345,2,99662,React-oth vasc dev/graft,Infection and inflammatory reaction due to oth...,206504,Complication of device; implant or graft,0
2,112347,10006,142345,4,40391,Hyp kid NOS w cr kid V,"Hypertensive chronic kidney disease, unspecifi...",206504,Hypertension with complications and secondary ...,1
3,112348,10006,142345,5,42731,Atrial fibrillation,Atrial fibrillation,206504,Cardiac dysrhythmias,1
4,112349,10006,142345,6,4280,CHF NOS,"Congestive heart failure, unspecified",206504,Congestive heart failure; nonhypertensive,1

In [20]:
phenotype_dictionary_df = pd.DataFrame(definition_map).T.reset_index()
phenotype_dictionary_df = phenotype_dictionary_df.rename({'index': 'icd9_code', 0: 'hcup_css_2015', 1: 'use_in_benchmark'}, axis=1)
phenotype_dictionary_df['use_in_benchmark'] = phenotype_dictionary_df['use_in_benchmark'].astype(int)
phenotype_dictionary_df.head()

  icd9_code hcup_css_2015  use_in_benchmark
0     01000  Tuberculosis                 0
1     01001  Tuberculosis                 0
2     01002  Tuberculosis                 0
3     01003  Tuberculosis                 0
4     01004  Tuberculosis                 0

In [21]:
phenotypes_df = diagnoses_df.merge(phenotype_dictionary_df, how='inner', left_on='icd9_code', right_on='icd9_code')
phenotypes_df = phenotypes_df[['icustay_id', 'hcup_css_2015']][phenotypes_df.use_in_benchmark > 0].drop_duplicates()
phenotypes_df['value'] = 1
phenotypes_df.head()

   icustay_id                 hcup_css_2015  value
0      206504  Septicemia (except in labor)      1
1      235482  Septicemia (except in labor)      1
2      277403  Septicemia (except in labor)      1
3      222779  Septicemia (except in labor)      1
4      295043  Septicemia (except in labor)      1

In [22]:
phenotypes_df = phenotypes_df.pivot(index='icustay_id', columns='hcup_css_2015', values='value')
phenotypes_df = phenotypes_df.fillna(0).astype(int).sort_index(axis=0).sort_index(axis=1)
phenotypes_df.head()

hcup_css_2015,Acute and unspecified renal failure,Acute cerebrovascular disease,Acute myocardial infarction,Cardiac dysrhythmias,Chronic kidney disease,Chronic obstructive pulmonary disease and bronchiectasis,Complications of surgical procedures or medical care,Conduction disorders,Congestive heart failure; nonhypertensive,Coronary atherosclerosis and other heart disease,...,Gastrointestinal hemorrhage,Hypertension with complications and secondary hypertension,Other liver diseases,Other lower respiratory disease,Other upper respiratory disease,Pleurisy; pneumothorax; pulmonary collapse,Pneumonia (except that caused by tuberculosis or sexually transmitted disease),Respiratory failure; insufficiency; arrest (adult),Septicemia (except in labor),Shock
icustay_id,,,,,,,,,,,,,,,,,,,,,
201006,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
201204,1,0,0,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
203766,1,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,1
204132,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,0
204201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# IV. Subject Related Information

## Stays and Diagnoses by Subjects

In [23]:
subject_ids = icu_history_df.subject_id.unique()
n_subject_ids = len(subject_ids)

In [24]:
subject_stay_dicts = dict()
subject_diagnoses = dict()
for id in subject_ids:
    subject_stay_dicts[id] = icu_history_df[icu_history_df.subject_id == id].sort_values(by='intime')
    subject_diagnoses[id] = diagnoses_df[diagnoses_df.subject_id == id].sort_values(by=['icustay_id', 'seq_num'])

In [25]:
obs_header = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'ITEMID', 'VALUE', 'VALUEUOM']
obs_header = list(map(str.lower, obs_header))

## Read Chartevents CSV

In [26]:
chart_event_df = pd.read_csv(os.path.join(dataset_folder, 'CHARTEVENTS.csv'))
chart_event_df = chart_event_df[obs_header][:10000]
chart_event_df.head()

/tmp/ipykernel_32/109129853.py:1: DtypeWarning: Columns (8,10,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  chart_event_df = pd.read_csv(os.path.join(dataset_folder, 'CHARTEVENTS.csv'))

,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom
0,40124,126179,279554.0,2130-02-04 04:00:00,223761,95.9,?F
1,40124,126179,279554.0,2130-02-04 04:25:00,224695,2222221.7,cmH2O
2,40124,126179,279554.0,2130-02-04 04:30:00,220210,15.0,insp/min
3,40124,126179,279554.0,2130-02-04 04:32:00,220045,94.0,bpm
4,40124,126179,279554.0,2130-02-04 04:32:00,220179,163.0,mmHg

## Chartevents by Subjects

In [27]:
subject_ids = icu_history_df.subject_id.unique()
subject_event_dict = dict()

for subject_id in subject_ids:
    res = chart_event_df[chart_event_df['subject_id'] == subject_id]
    if len(res):
        subject_event_dict[subject_id] = res

In [28]:
list(subject_event_dict.keys())

[40124, 40177, 40204, 40277, 40286, 40304, 40310]

In [29]:
subject_event_dict[40124]

,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom
0,40124,126179,279554.0,2130-02-04 04:00:00,223761,95.9,?F
1,40124,126179,279554.0,2130-02-04 04:25:00,224695,2222221.7,cmH2O
2,40124,126179,279554.0,2130-02-04 04:30:00,220210,15.0,insp/min
3,40124,126179,279554.0,2130-02-04 04:32:00,220045,94.0,bpm
4,40124,126179,279554.0,2130-02-04 04:32:00,220179,163.0,mmHg
...,...,...,...,...,...,...,...
1786,40124,146893,269173.0,2130-08-15 23:00:00,220179,139.0,mmHg
1787,40124,146893,269173.0,2130-08-15 23:00:00,220180,75.0,mmHg
1788,40124,146893,269173.0,2130-08-15 23:00:00,220181,87.0,mmHg
1789,40124,146893,269173.0,2130-08-15 23:00:00,220210,20.0,insp/min
1790,40124,146893,269173.0,2130-08-15 23:00:00,220277,98.0,%

# V. Creating the Time Series
Code from file extract_episodes_from_subjects.py.
## Initialize Iteration
This is usually done in a loop over the subject folders. We are going to look at a single iteration:

In [30]:
stays = subject_stay_dicts[40124]
diagnoses = subject_diagnoses[40124]
events = subject_event_dict[40124]
stays.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,...,deathtime,ethnicity,diagnosis,gender,dob,dod,age,MORTALITY_INUNIT,MORTALITY,MORTALITY_INHOSPITAL
59,41377,40124,126179,279554,metavision,MICU,MICU,50,50,2130-02-04 02:27:27,...,NaT,WHITE,SHORTNESS OF BREATH,F,2063-07-05,2130-11-03,67,0,0,0
60,41378,40124,146893,269173,metavision,CCU,CCU,7,7,2130-08-12 05:50:38,...,NaT,WHITE,PNEUMONIA,F,2063-07-05,2130-11-03,67,0,0,0

In [31]:
# Ethnicity and gender map
e_map = {
    'ASIAN': 1,
     'BLACK': 2,
     'HISPANIC': 3,
     'WHITE': 4,
     'OTHER': 5,  # map everything else to 5 (OTHER)
     'UNABLE TO OBTAIN': 0,
     'PATIENT DECLINED TO ANSWER': 0,
     'UNKNOWN': 0,
     '': 0
}

g_map = {
    'F': 1, 
    'M': 2, 
    'OTHER': 3, 
    '': 0
}

## Read the Variable Map

In [32]:
var_map = pd.read_csv(Path(resource_folder, "itemid_to_variable_map.csv"), index_col=None)
var_map.head()

,LEVEL2,LEVEL1,ALTERNATIVE,STATUS,STATUS NOTE,ITEMID,MIMIC LABEL,UNITNAME,LINKSTO,COUNT,CATEGORY,CONCEPTID,FLUID,LOINC_CODE,DBSOURCE,Unnamed: 15,PARAM_TYPE,NOTE
0,Alanine aminotransferase,Alanine aminotransferase,ALT,verify,NaN,50861,ALANINE AMINOTRANSFERASE (ALT),NaN,labevents,219475,CHEMISTRY,NaN,BLOOD,6/1/1742,NaN,NaN,NaN,NaN
1,Alanine aminotransferase,Alanine aminotransferase,ALT,verify,NaN,769,ALT,NaN,chartevents,41594,Enzymes,NaN,NaN,NaN,carevue,NaN,NaN,NaN
2,Alanine aminotransferase,Alanine aminotransferase,ALT,verify,NaN,220644,ALT,None,chartevents,37625,Labs,NaN,NaN,NaN,metavision,NaN,Numeric,NaN
3,Albumin,Albumin,NaN,verify,NaN,50862,ALBUMIN,NaN,labevents,146697,CHEMISTRY,NaN,BLOOD,7/1/1751,NaN,NaN,NaN,NaN
4,Albumin,Albumin,NaN,verify,NaN,772,Albumin (>3.2),NaN,chartevents,31022,Chemistry,NaN,NaN,NaN,carevue,NaN,NaN,NaN

In [33]:
var_map.columns = list(map(str.lower, var_map.columns))
var_map = var_map.fillna('').astype(str)
var_map['count'] = var_map['count'].astype(int)
var_map = var_map.loc[(var_map['level2'] != '') & (var_map['count'] > 0)]
var_map = var_map.loc[(var_map.status == 'ready')]
var_map.itemid = var_map.itemid.astype(int)
var_map = var_map[['level2', 'itemid', 'mimic label']].set_index('itemid')
var_map = var_map.rename({'level2': 'variable', 'mimic label': 'mimic_label'}, axis=1)
variables = var_map.variable.unique()
var_map.head()

                        variable                        mimic_label
itemid
3348       Capillary refill rate                   Capillary Refill
115        Capillary refill rate           Capillary Refill [Right]
8377       Capillary refill rate            Capillary Refill [Left]
8368    Diastolic blood pressure            Arterial BP [Diastolic]
220051  Diastolic blood pressure  Arterial Blood Pressure diastolic

## Assembling Episodic Data

In [34]:
#assemble_episodic_data
data = pd.DataFrame({'Icustay': stays.icustay_id, 'Age': stays.age, 'Length of Stay': stays.los,
                     'Mortality': stays.MORTALITY})

data['Gender'] = stays.gender.fillna('').apply(lambda s: g_map[s] if s in g_map else g_map['OTHER'])
ethnicity_series = stays.ethnicity.apply(lambda x: x.replace(' OR ', '/').split(' - ')[0].split('/')[0])
data['Ethnicity'] = ethnicity_series.fillna('').apply(lambda s: e_map[s] if s in e_map else e_map['OTHER'])
data['Height'] = np.nan
data['Weight'] = np.nan
data = pd.DataFrame(data).set_index('Icustay')
data = data[['Ethnicity', 'Gender', 'Age', 'Height', 'Weight', 'Length of Stay', 'Mortality']]
data

         Ethnicity  Gender  Age  Height  Weight  Length of Stay  Mortality
Icustay
279554           4       1   67     NaN     NaN          2.4549          0
269173           4       1   67     NaN     NaN          3.7516          0

In [35]:
# Diagnosis Labels
diagnosis_labels = ['4019', '4280', '41401', '42731', '25000', '5849', '2724', '51881', '53081', '5990', '2720',
                    '2859', '2449', '486', '2762', '2851', '496', 'V5861', '99592', '311', '0389', '5859', '5070',
                    '40390', '3051', '412', 'V4581', '2761', '41071', '2875', '4240', 'V1582', 'V4582', 'V5867',
                    '4241', '40391', '78552', '5119', '42789', '32723', '49390', '9971', '2767', '2760', '2749',
                    '4168', '5180', '45829', '4589', '73300', '5845', '78039', '5856', '4271', '4254', '4111',
                    'V1251', '30000', '3572', '60000', '27800', '41400', '2768', '4439', '27651', 'V4501', '27652',
                    '99811', '431', '28521', '2930', '7907', 'E8798', '5789', '79902', 'V4986', 'V103', '42832',
                    'E8788', '00845', '5715', '99591', '07054', '42833', '4275', '49121', 'V1046', '2948', '70703',
                    '2809', '5712', '27801', '42732', '99812', '4139', '3004', '2639', '42822', '25060', 'V1254',
                    '42823', '28529', 'E8782', '30500', '78791', '78551', 'E8889', '78820', '34590', '2800', '99859',
                    'V667', 'E8497', '79092', '5723', '3485', '5601', '25040', '570', '71590', '2869', '2763', '5770',
                    'V5865', '99662', '28860', '36201', '56210']

In [36]:
# extract_diagnosis_labels
diagnoses['value'] = 1
labels = diagnoses[['icustay_id', 'icd9_code', 'value']].drop_duplicates().pivot(index='icustay_id', columns='icd9_code', values='value').fillna(0).astype(int)
for l in diagnosis_labels:
    if l not in labels:
        labels[l] = 0
labels = labels[diagnosis_labels]
labels.rename(dict(zip(diagnosis_labels, ['Diagnosis ' + d for d in diagnosis_labels])), axis=1)

/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0
/tmp/ipykernel_32/2757001474.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  labels[l] = 0

icd9_code,Diagnosis 4019,Diagnosis 4280,Diagnosis 41401,Diagnosis 42731,Diagnosis 25000,Diagnosis 5849,Diagnosis 2724,Diagnosis 51881,Diagnosis 53081,Diagnosis 5990,...,Diagnosis 570,Diagnosis 71590,Diagnosis 2869,Diagnosis 2763,Diagnosis 5770,Diagnosis V5865,Diagnosis 99662,Diagnosis 28860,Diagnosis 36201,Diagnosis 56210
icustay_id,,,,,,,,,,,,,,,,,,,,,
269173,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
279554,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
data = data.merge(labels, left_index=True, right_index=True)
data.head()

,Ethnicity,Gender,Age,Height,Weight,Length of Stay,Mortality,4019,4280,41401,...,570,71590,2869,2763,5770,V5865,99662,28860,36201,56210
279554,4,1,67,NaN,NaN,2.4549,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
269173,4,1,67,NaN,NaN,3.7516,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Convert Events to Time-Series

In [38]:
events.head()

,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom
0,40124,126179,279554.0,2130-02-04 04:00:00,223761,95.9,?F
1,40124,126179,279554.0,2130-02-04 04:25:00,224695,2222221.7,cmH2O
2,40124,126179,279554.0,2130-02-04 04:30:00,220210,15.0,insp/min
3,40124,126179,279554.0,2130-02-04 04:32:00,220045,94.0,bpm
4,40124,126179,279554.0,2130-02-04 04:32:00,220179,163.0,mmHg

In [39]:
# map_itemids_to_variable
events = events.merge(var_map, left_on='itemid', right_index=True)
events.head()

,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom,variable,mimic_label
0,40124,126179,279554.0,2130-02-04 04:00:00,223761,95.9,?F,Temperature,Temperature Fahrenheit
73,40124,126179,279554.0,2130-02-04 08:00:00,223761,96.2,?F,Temperature,Temperature Fahrenheit
137,40124,126179,279554.0,2130-02-04 12:00:00,223761,95.9,?F,Temperature,Temperature Fahrenheit
174,40124,126179,279554.0,2130-02-04 16:00:00,223761,95.7,?F,Temperature,Temperature Fahrenheit
208,40124,126179,279554.0,2130-02-04 20:00:00,223761,96.6,?F,Temperature,Temperature Fahrenheit

In [40]:
# Lets prepare our dfs first
# We begin with the stays
for column in ['intime', 'outtime', 'dob', 'dod', 'deathtime']:
    stays[column] = pd.to_datetime(stays[column])

stays.sort_values(by=['intime', 'outtime'], inplace=True)

In [41]:
# Lets prepare the events
events = events.loc[events.value.notnull()]
events.charttime = pd.to_datetime(events.charttime)

for column in ['hadm_id', 'icustay_id']:
    events[column] = events[column].fillna(value=-1).astype(int)
    
events.valueuom = events.valueuom.fillna('').astype(str)
events.head()

,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom,variable,mimic_label
0,40124,126179,279554,2130-02-04 04:00:00,223761,95.9,?F,Temperature,Temperature Fahrenheit
73,40124,126179,279554,2130-02-04 08:00:00,223761,96.2,?F,Temperature,Temperature Fahrenheit
137,40124,126179,279554,2130-02-04 12:00:00,223761,95.9,?F,Temperature,Temperature Fahrenheit
174,40124,126179,279554,2130-02-04 16:00:00,223761,95.7,?F,Temperature,Temperature Fahrenheit
208,40124,126179,279554,2130-02-04 20:00:00,223761,96.6,?F,Temperature,Temperature Fahrenheit

In [42]:
# Lets create the time series
# convert_events_to_time_series
metadata = events[['charttime', 'icustay_id']].sort_values(by=['charttime', 'icustay_id'])\
                .drop_duplicates(keep='first').set_index('charttime')
timeseries = events[['charttime', 'variable', 'value']]\
                .sort_values(by=['charttime', 'variable', 'value'], axis=0)\
                .drop_duplicates(subset=['charttime', 'variable'], keep='last')
timeseries = timeseries.pivot(index='charttime', columns='variable', values='value').merge(metadata, left_index=True, right_index=True)\
                .sort_index(axis=0).reset_index()
for v in variables:
    if v not in timeseries:
        timeseries[v] = np.nan
timeseries.head()

,charttime,Diastolic blood pressure,Fraction inspired oxygen,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,icustay_id,Capillary refill rate,Glascow coma scale eye opening,Glascow coma scale motor response,Glascow coma scale total,Glascow coma scale verbal response
0,2130-02-04 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.9,NaN,NaN,279554,NaN,NaN,NaN,NaN,NaN
1,2130-02-04 04:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,279554,NaN,NaN,NaN,NaN,NaN
2,2130-02-04 04:32:00,81.0,NaN,NaN,94.0,NaN,101.0,NaN,NaN,163.0,NaN,NaN,NaN,279554,NaN,NaN,NaN,NaN,NaN
3,2130-02-04 04:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.5,NaN,279554,NaN,NaN,NaN,NaN,NaN
4,2130-02-04 04:42:00,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,279554,NaN,NaN,NaN,NaN,NaN

In [43]:
data_aggregate = list()
episode_aggregate = list()

for i in range(stays.shape[0]):
    stay_id = stays.icustay_id.iloc[i]
    intime = stays.intime.iloc[i]
    outtime = stays.outtime.iloc[i]
    
    # get events for stay
    ts = timeseries.copy()
    idx = (ts.icustay_id == stay_id)
    if intime is not None and outtime is not None:
        idx = idx | ((ts.charttime >= intime) & (ts.charttime <= outtime))
    ts = ts.loc[idx]
    del ts['icustay_id']
    episode = ts
    
    # add hours elapsed to events
    episode['hours'] = (episode.charttime - intime).apply(lambda s: s / np.timedelta64(1, 's')) / 60./60
    del episode['charttime']
    
    episode_aggregate.append(episode)
    
    # get first valid from timeseries
    def get_first_valid_from_timeseries(timeseries, variable):
        if variable in episode:
            idx = episode[variable].notnull()
            if idx.any():
                loc = np.where(idx)[0][0]
                return episode[variable].iloc[loc]
        return np.nan
    
    data.Weight.loc[stay_id] = get_first_valid_from_timeseries(episode, 'Weight')
    data.Height.loc[stay_id] = get_first_valid_from_timeseries(episode, 'Height')
    data_aggregate.append(data)

/tmp/ipykernel_32/3197090893.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Weight.loc[stay_id] = get_first_valid_from_timeseries(episode, 'Weight')
/tmp/ipykernel_32/3197090893.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Height.loc[stay_id] = get_first_valid_from_timeseries(episode, 'Height')
/tmp/ipykernel_32/3197090893.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Weight.loc[stay_id] = get_first_valid_from_timeseries(episode, 'Weight')
/tmp/ipykernel_32/3197090893.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Height.loc[stay_id] = get_first_valid_from_timeseries(episode, 'Height')

In [44]:
episode_aggregate[1].head()

,Diastolic blood pressure,Fraction inspired oxygen,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH,Capillary refill rate,Glascow coma scale eye opening,Glascow coma scale motor response,Glascow coma scale total,Glascow coma scale verbal response,hours
96,NaN,100.0,NaN,108.0,NaN,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.156111
97,NaN,NaN,NaN,NaN,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.206111
98,78.0,NaN,NaN,NaN,NaN,96.0,NaN,NaN,146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.239444
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.3,NaN,NaN,NaN,NaN,NaN,NaN,3.472778
100,NaN,NaN,NaN,98.0,NaN,NaN,100.0,19.0,NaN,96.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.506111

In [45]:
data_aggregate[0].head()

,Ethnicity,Gender,Age,Height,Weight,Length of Stay,Mortality,4019,4280,41401,...,570,71590,2869,2763,5770,V5865,99662,28860,36201,56210
279554,4,1,67,NaN,41.5,2.4549,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
269173,4,1,67,168.0,104.3,3.7516,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
episode_aggregate

[   Diastolic blood pressure Fraction inspired oxygen Glucose Heart Rate  \
 0                       NaN                      NaN     NaN        NaN
 1                       NaN                      NaN     NaN        NaN
 2                      81.0                      NaN     NaN       94.0
 3                       NaN                      NaN     NaN        NaN
 4                       NaN                      NaN     NaN        NaN
 ..                      ...                      ...     ...        ...
 91                    100.0                      NaN     NaN       99.0
 92                      NaN                      NaN     NaN       81.0
 93                     89.0                      NaN     NaN        NaN
 94                     83.0                      NaN     NaN       80.0
 95                      NaN                      NaN     NaN        NaN

    Height Mean blood pressure Oxygen saturation Respiratory rate  \
 0     NaN                 NaN               NaN              NaN
 1     NaN                 NaN               NaN             15.0
 2     NaN               101.0               NaN              NaN
 3     NaN                 NaN               NaN              NaN
 4     NaN                 NaN             100.0              NaN
 ..    ...                 ...               ...              ...
 91    NaN               115.0             100.0             16.0
 92    NaN                 NaN             100.0             11.0
 93    NaN               104.0               NaN              NaN
 94    NaN                99.0               NaN             11.0
 95    NaN                 NaN              99.0              NaN

    Systolic blood pressure Temperature Weight   pH  Capillary refill rate  \
 0                      NaN        95.9    NaN  NaN                    NaN
 1                      NaN         NaN    NaN  NaN                    NaN
 2                    163.0         NaN    NaN  NaN                    NaN
 3                      NaN         NaN   41.5  NaN                    NaN
 4                      NaN         NaN    NaN  NaN                    NaN
 ..                     ...         ...    ...  ...                    ...
 91                   169.0         NaN    NaN  NaN                    NaN
 92                     NaN         NaN    NaN  NaN                    NaN
 93                   156.0         NaN    NaN  NaN                    NaN
 94                   149.0         NaN    NaN  NaN                    NaN
 95                     NaN         NaN    NaN  NaN                    NaN

     Glascow coma scale eye opening  Glascow coma scale motor response  \
 0                              NaN                                NaN
 1                              NaN                                NaN
 2                              NaN                                NaN
 3                              NaN                                NaN
 4                              NaN                                NaN
 ..                             ...                                ...
 91                             NaN                                NaN
 92                             NaN                                NaN
 93                             NaN                                NaN
 94                             NaN                                NaN
 95                             NaN                                NaN

     Glascow coma scale total  Glascow coma scale verbal response      hours
 0                        NaN                                 NaN   1.542500
 1                        NaN                                 NaN   2.042500
 2                        NaN                                 NaN   2.075833
 3                        NaN                                 NaN   2.125833
 4                        NaN                                 NaN   2.242500
 ..                       ...                                 ...        ...
 91                       NaN                                 NaN  54.542500
 92                       NaN                                 NaN  55.542500
 93                       NaN                                 NaN  55.792500
 94                       NaN                                 NaN  56.542500
 95                       NaN                                 NaN  56.559167

 [96 rows x 18 columns],
     Diastolic blood pressure Fraction inspired oxygen Glucose Heart Rate  \
 96                       NaN                    100.0     NaN      108.0
 97                       NaN                      NaN     NaN        NaN
 98                      78.0                      NaN     NaN        NaN
 99                       NaN                      NaN     NaN        NaN
 100                      NaN                      NaN     NaN       98.0
 ..                       ...                      ...     ...        ...
 233                     76.0                      NaN     NaN       99.0
 234                      NaN                      NaN     NaN      105.0
 235                      NaN                      NaN     NaN        NaN
 236                     65.0                      NaN     NaN       80.0
 237                     75.0                      NaN     NaN       84.0

     Height Mean blood pressure Oxygen saturation Respiratory rate  \
 96     NaN                 NaN               NaN             32.0
 97     NaN                 NaN              99.0              NaN
 98     NaN                96.0               NaN              NaN
 99     NaN                 NaN               NaN              NaN
 100    NaN                 NaN             100.0             19.0
 ..     ...                 ...               ...              ...
 233    NaN                93.0              96.0             25.0
 234    NaN                 NaN               NaN             22.0
 235    NaN                 NaN              98.0              NaN
 236    NaN                78.0             100.0             20.0
 237    NaN                87.0              98.0             20.0

     Systolic blood pressure Temperature Weight   pH  Capillary refill rate  \
 96                      NaN         NaN    NaN  NaN                    NaN
 97                      NaN         NaN    NaN  NaN                    NaN
 98                    146.0         NaN    NaN  NaN                    NaN
 99                      NaN         NaN  104.3  NaN                    NaN
 100                     NaN        96.4    NaN  NaN                    NaN
 ..                      ...         ...    ...  ...                    ...
 233                   153.0         NaN    NaN  NaN                    NaN
 234                     NaN        99.8    NaN  NaN                    NaN
 235                     NaN         NaN    NaN  NaN                    NaN
 236                   128.0         NaN    NaN  NaN                    NaN
 237                   139.0         NaN    NaN  NaN                    NaN

      Glascow coma scale eye opening  Glascow coma scale motor response  \
 96                              NaN                                NaN
 97                              NaN                                NaN
 98                              NaN                                NaN
 99                              NaN                                NaN
 100                             NaN                                NaN
 ..                              ...                                ...
 233                             NaN                                NaN
 234                             NaN                                NaN
 235                             NaN                                NaN
 236                             NaN                                NaN
 237                             NaN                                NaN

      Glascow coma scale total  Glascow coma scale verbal response      hours
 96                        NaN                                 NaN   3.156111
 97                        NaN                                 NaN   3.206111
 98                        NaN                                 NaN   3.239444
 99                        NaN                                 NaN   3.472778
 100                       NaN                                 NaN   3.506111
 ..                        ...                                 ...        ...
 233                       NaN                                 NaN  86.156111
 234                       NaN                                 NaN  87.156111
 235                       NaN                                 NaN  87.222778
 236                       NaN                                 NaN  88.156111
 237                       NaN                                 NaN  89.156111

 [142 rows x 18 columns]]